@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
   }

body {
    background-color: rgb(20, 19, 19);
    color: white;
    font-family: Arial, sans-serif
}

/* header summer project*/

.header-box {
    background-color: black;
    height: 40px;
    padding: 10px;
    text-align: center;
    position: relative;
}
header a:link {
    text-decoration: none;
 }

header h1 {
    font-family:'Stick No Bills', sans-serif;
    color: #aaff00;
    font-size: 30px;
    text-transform: uppercase; 
}

#summer {
    position: absolute;
    left: 29%;
}

#sun {
    position: absolute;
    left: 48%;
}

#project {
    position: absolute;
    left: 60%;
}

/* navigation menu */

ul {
    position: fixed;
    top: 50px;
    width: 100%;
    text-align: center;
  }

nav ul a:link{
    text-decoration: none;
    
}

a:visited { 
    color: white; 
}

.active {
    border-bottom: 1px solid #aaff00;
    color: #aaff00;
}

#menu li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}


 footer {
    padding: 500px;
 }