*{
    margin: 0;
    padding: 0;
    border: none;
   }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header-box {
    color: red;
    background-color: black;
    font-size: 15px;
    height: 45px;
    padding: 15px 40% 15px 40%;

}