@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Poiret+One&family=Stick+No+Bills&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
   }

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif   
}

/*background image index.html */

.background-image-index {
        background-image:url("../images/pexels-teddy-yang-2263436.jpg");
        opacity:0.5;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:-1;
        background-attachment: fixed;
    }

/* background image contact*/

.background-image-gallery {
  background-image:url("../images/pexels-teddy-yang-2263436.jpg");
  opacity:0.5;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:-1;
  background-attachment: fixed;
}



/* header summer project*/


.header-box {
    background-color: black;
    height: 60px;
    width: 100%;
    padding-left: 10px;
    text-align: center;
    position: fixed;
    top: 0;  
    z-index: 1;
}

header a:link {
    text-decoration: none;
 }

header h1 {
    font-family:'Stick No Bills', "allerta stensil";
    color: #ff00d4;
    font-size: 30px;
    text-transform: uppercase; 
    letter-spacing: 5px;
    
}

/* navigation menu */

.menu {
    position: fixed;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 2;
  }

nav ul a:link{
    text-decoration: none;
    
}

.menu a:link{ 
    color: white; 
}
.menu a:visited{ 
  color: white; 
}

a:hover {
    color: rgb(14, 0, 211);
}

.active {
    border-bottom: 1px solid rgb(14, 0, 211);
    color: rgb(14, 0, 211);
}

.menu li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

/* loading box*/

#loading-box {
    position: relative;
    font-family:'Stick No Bills', "allerta stensil";
    background-image: linear-gradient(to right, #ff00d4, #ff00d4, rgb(14, 0, 211));
    padding: 20px;
    top: 150px;
    height: 30px;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: black;
    z-index: -1;

}

#loading-box h3 {
  font-family:'Stick No Bills', "allerta stensil";
  font-size: 30px;
  display: inline;
  
}

.days {
  color: white;
  font-family:'Stick No Bills', "allerta stensil";
  float: right;
  
}


/* artist and dates section */

.dates {
    font-family:'Stick No Bills', "allerta stensil";
    font-size: 60px;
    text-align: center;
    top: 200px;
    bottom: 100px;
    position: relative;
    z-index: -1;
    
}

.artist {
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 250px;
    bottom: 70px;
    z-index: -1;
}

/* gallery photo slide 2022 */

.header-2022 {
  position: absolute;
  color: white;
  margin-left: -2%;
  margin-top: 100px;
  text-align: right;
  width: 40%;
  font-size: 100px;
  font-family: "poiret one";
  opacity: 60%;
}

#photos-2022 {
  position: relative;
  margin-top: 120px;
  margin-left: 40%;
  margin-bottom: 50px;
  width: 500px;
  line-height: 0;
  column-count: 2;
  column-gap: 0;
}

#photos-2022 > img {
  width: 120%;
}

/* gallery info 2022 */

.pic-2022-text {
    position: absolute;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    margin-left: 23%;
    margin-top: 170px;
    text-align: right;
    width: 15%;
    opacity: 0.7;
}

hr {
  color: white;
  width: 100%;
  border: 1px solid;
  opacity: 0.7;
}

  /* gallery photo 2021 */

  .header-2021 {
    position: absolute;
    color: white;
    font-size: 100px;
    margin-left: -2%;
    text-align: right;
    width: 40%;
    font-size: 100px;
    font-family: "poiret one";
    opacity: 60%;
  
  }
  
  #photos-2021 {
    position: relative;
    margin-left: 40%;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 150px;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
  }
  
  #photos-2021 > img {
    width: 120%;
  }

/* gallery info 2021 */

.pic-2021-text {
  position: absolute;
  color: white;
  font-size: 20px;
  margin-left: 23%;
  margin-top: 100px;
  width: 15%;
  height: auto;
  text-align: right;
  opacity: 0.7;
}


/* social networks */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

ul p {
    color: white;
    font-size: 15px;
}

 .social-networks{
    color: #ff00d4;
    background-color: black;
    padding: 25px 0;
    letter-spacing: 5px;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
 }

 .social-networks a:link { 
  color: #ff00d4; 
}

.social-networks a:visited { 
  color: #ff00d4; 
}
    
.social-networks a:hover {
        color: rgb(14, 0, 211);

    }

.social-networks li {
    display: inline;
}    

/* Contact and Subscribe page */

.wrapper {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;

}

.subscribe {
  position: absolute;
  padding: 20px 0 0 20px;
  width: 295px;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.7);
}

#subscribe-here {
  font-family: 'Stick No Bills', "allerta stensil";
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 15px;
  color: white;
}

#email {
  width: 250px;
  height: 25px;
  margin-top: 5px;
  border-radius: 2px;
}

#email-text {
  font-size: 20px;
}


.subscribe h4 {
  margin-top: 20px;
  font-size: 20px;
}

button {
  margin-top: 40px;
  background-color: #ff00d4;
  color: white;
  padding: 20px 34px;
  font-size: 15px;
}

button:hover {
  background-color: #a30188;
}

.contact {
    position: relative;
    padding: 20px 0 0 20px;
    width: 295px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.7);
}

#contact-info {
  font-family: 'Stick No Bills', "allerta stensil";
  font-size: 30px;
  letter-spacing: 3px;
  color: white;
}

.contact h4 {
  font-size: 20px;
  margin-top: 30px;
}

/* Media queries */

/* For larger to medium screens size from 1200px and down */
@media screen and (max-width: 1200px) {


}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

  .header-2022 {
    margin-left: 25%;
    margin-top: 100px;
    width: 200px;
   

  }

  #photos-2022 {
    margin-top: 200px;
    margin-left: 25%;
    margin-bottom: 50px;
    width: 500px;

  } 

  #photos-2022 > img {
    width: 100%;

  }

  .pic-2022-text {
    font-size: 18px;
    padding-top: 30px;
    margin-left: 7%;
    margin-top: 170px;
    width: 15%;

  }

  .header-2021 {
    margin-left: 25%;
    width: 200px;

  }

  #photos-2021 {
    margin-top: 100px;
    margin-left: 25%;
    margin-bottom: 130px;
    width: 500px;

  }
  
  #photos-2021 > img {
    width: 100%;
  }

  .pic-2021-text {
    font-size: 18px;
    padding-top: 30px;
    margin-left: 7%;
    margin-top: 70px;
    width: 15%;
  }

 /*contact*/
  
 .subscribe {
  padding: 20px 0 0 10px;
  width: 210px;
  font-size: 15px;
 }
  
  #subscribe-here {
    font-size: 20px;
  }
  
  #email {
    width: 200px;
    height: 20px;
  }
  
  #email-text {
    font-size: 17px;
  }
  
  
  .subscribe h4 {
    font-size: 17px;
  }
  
  button {
    margin-top: 80px;
    padding: 15px 25px;
    font-size: 15px;
  }


  .contact {
    padding: 20px 0 0 10px;
    width: 210px;
    font-size: 15px;
}

#contact-info {
  font-size: 20px;

}

.contact h4 {
  font-size: 17px;
  margin-top: 40px;
}

}

/* For small screen sizes 800px and down */

@media screen and (max-width: 800px) {

.menu li{
  clear: left;
  float: left;
  background-color: black;
  width: 100%; 
}


#loading-box {
  position: relative;
  font-family:'Stick No Bills', "allerta stensil";
  background-image: linear-gradient(to right, #ff00d4,#ff00d4, rgb(14, 0, 211), rgb(14, 0, 211));
  padding: 20px;
  margin: 12px 0 0 0;
  width: 100%;
}

#loading-box h3 {
  font-size: 20px;
}

.dates {
  font-size: 40px;
}

/*Gallery*/
 
.header-2022 {
  margin: 160px 0 0 0;
  text-align: center;
  width: 100%;
  font-size: 50px;
 

}

#photos-2022 {
  margin-top: 220px;
  margin-bottom: 50px;
  margin-left: 0;
  column-count: 1;
  width: 100%;

} 

#photos-2022 > img {
  width: 100%;

}

.pic-2022-text {
  display: none;

}

.header-2021 {
  margin: 0 0 0 0;
  text-align: center;
  width: 100%;
  font-size: 50px;
}

#photos-2021 {
  margin-top: 60px;
  margin-bottom: 130px;
  margin-left: 0;
  column-count: 1;
  width: 100%;

}

#photos-2021 > img {
  width: 100%;
}

.pic-2021-text {
  display: none;
}



}