@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
   }

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif   
}

/*background image index.html */

.background-image-index {
        background-image:url("../images/pexels-teddy-yang-2263436.jpg");
        opacity:0.5;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        height: 1000px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:-1;
        background-attachment: fixed;
    }

/* background image gallery*/

.background-image-gallery {
    
}

/* header summer project*/


.header-box {
    background-color: black;
    height: 60px;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;   
}

header a:link {
    text-decoration: none;
 }

header h1 {
    font-family:'Stick No Bills', sans-serif;
    color: #ff00d4;
    font-size: 30px;
    text-transform: uppercase; 
    letter-spacing: 5px;
    
}

/* navigation menu */

.menu {
    position: fixed;
    top: 50px;
    width: 100%;
    text-align: center;
  }

nav ul a:link{
    text-decoration: none;
    
}

a:visited { 
    color: white; 
}

a:hover {
    color: rgb(14, 0, 211);
}

.active {
    border-bottom: 1px solid rgb(14, 0, 211);
    color: rgb(14, 0, 211);
}

.menu li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

/* loading box*/

#loading-box {
    position: relative;
    font-family:'Stick No Bills', sans-serif;
    background-image: linear-gradient(to right, #ff00d4, #ff00d4, rgb(14, 0, 211));
    padding: 20px;
    margin: 150px;
    letter-spacing: 10px;
    color: black;
    z-index: -1;

}

#loading-box-days {
    position: absolute;
    font-family:'Stick No Bills', sans-serif;
    color: white;
    right: 160px;
    top: 170px;
    letter-spacing: 5px;
    z-index: -1;

}

/* artist and dates section */

.dates {
    font-family:'Stick No Bills', sans-serif;
    font-size: 60px;
    text-align: center;
    bottom: 100px;
    position: relative;
    z-index: -1;
    
}

.artist {
    font-size: 40px;
    text-align: center;
    position: relative;
    bottom: 70px;
    z-index: -1;
}

/* gallery photo slide 2022 */

.slider1 {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: 700px;
    margin-top: 200px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: black;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #ff00d4;
  }

  /* gallery photo slide 2021 */

  .slider2 {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: 50px;
    margin-top: 200px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: black;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-4:target ~ .image-container {
    left: 0px;
  }
  #slide-5:target ~ .image-container {
    left: -500px;
  }
  #slide-6:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #ff00d4;
  }
 
/* social networks */

footer{
    margin-top: auto;
}

ul p {
    color: white;
    font-size: 15px;
}

 .social-networks{
    color: #ff00d4;
    background-color: black;
    padding: 25px 0;
    letter-spacing: 5px;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
 }

 .social-networks a:visited { 
        color: #ff00d4; 
    }
    
.social-networks a:hover {
        color: rgb(14, 0, 211);
    }

.social-networks li {
    display: inline;
}    