@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
   }

body {
    background: black url(../images/pexels-teddy-yang-2263436.jpg) no-repeat local;
    background-size: contain;
    color: white;
    font-family: Arial, sans-serif
}

/* header summer project*/

.header-box {
    background-color: black;
    height: 40px;
    padding: 10px;
    text-align: center;
    position: relative;
}
header a:link {
    text-decoration: none;
 }

header h1 {
    font-family:'Stick No Bills', sans-serif;
    color: #aaff00;
    font-size: 30px;
    text-transform: uppercase; 
    letter-spacing: 5px;
}

/* navigation menu */

ul {
    position: fixed;
    top: 50px;
    width: 100%;
    text-align: center;
  }

nav ul a:link{
    text-decoration: none;
    
}

a:visited { 
    color: white; 
}

a:hover {
    color: #aaff00;
}

.active {
    border-bottom: 1px solid #aaff00;
    color: #aaff00;
}

#menu li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

/* loading box*/

#loading-box {
    position: relative;
    font-family:'Stick No Bills', sans-serif;
    background-image: linear-gradient(to right, #aaff00, #aaff00 ,black, black);
    padding: 20px;
    margin: 150px;
    letter-spacing: 10px;
    color: black;

}

#loading-box-days {
    position: absolute;
    font-family:'Stick No Bills', sans-serif;
    color: white;
    right: 200px;
    top: 230px;
    letter-spacing: 10px;

}
 footer {
    padding: 500px;
 }