@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
   }

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif
    
}

/*background image index.html */

.background-image-index {
        background-image:url("../images/pexels-teddy-yang-2263436.jpg");
        opacity:0.5;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        height: 1200px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:-1;
        background-attachment: fixed;
    }

/* background image gallery*/

.background-image-gallery {
    
}

/* header summer project*/


.header-box {
    background-color: black;
    height: 60px;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;   
}

header a:link {
    text-decoration: none;
 }

header h1 {
    font-family:'Stick No Bills', sans-serif;
    color: #ff00d4;
    font-size: 30px;
    text-transform: uppercase; 
    letter-spacing: 5px;
    
}

/* navigation menu */

ul {
    position: fixed;
    top: 50px;
    width: 100%;
    text-align: center;
  }

nav ul a:link{
    text-decoration: none;
    
}

a:visited { 
    color: white; 
}

a:hover {
    color: rgb(14, 0, 211);
}

.active {
    border-bottom: 1px solid rgb(14, 0, 211);
    color: rgb(14, 0, 211);
}

#menu li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
}

/* loading box*/

#loading-box {
    position: relative;
    font-family:'Stick No Bills', sans-serif;
    background-image: linear-gradient(to right, #ff00d4, #ff00d4, rgb(14, 0, 211));
    padding: 20px;
    margin: 150px;
    letter-spacing: 10px;
    color: black;
    z-index: -1;

}

#loading-box-days {
    position: absolute;
    font-family:'Stick No Bills', sans-serif;
    color: white;
    right: 160px;
    top: 170px;
    letter-spacing: 5px;
    z-index: -1;

}

/* artist and dates section */

.dates {
    font-family:'Stick No Bills', sans-serif;
    font-size: 60px;
    text-align: center;
    bottom: 100px;
    position: relative;
    z-index: -1;
    
}

.artist {
    font-size: 40px;
    text-align: center;
    position: relative;
    bottom: 70px;
    z-index: -1;
}

 footer {
   
 }