*{
    margin: 0;
    padding: 0;
    border: none;
   }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.header-box {
    background-color: black;
    height: 40px;
    padding: 10px;
    text-align: center;
}
 header a:link {
    text-decoration: none;
 }

header h1 {
    color: white;
    font-size: 30px;
    text-transform: uppercase; 
    opacity: 70%;
}

/* menu */

ul {
    position: fixed;
    top: 60px;
    width: 100%;
    text-align: center;
  }

nav ul a:link{
    text-decoration: none;
    color: black;
}

#menu li {
    display: inline-block;
    padding: 8px;
    text-transform: uppercase;
}


 footer {
    padding: 500px;
 }